@import '../MovementJournal/MovementJournal.module.scss';

.edit-movement {
    @extend .movement-journal__form-inputs;
    @extend %vertical-start;
    width: 100%;

    label {
        text-align: left;
        width: 100%;
        margin: 0 0 16px 0;

        input,
        select {
            width: 100%;
            margin-top: 8px;
            text-align: left;
            padding: 4px 8px;
            height: 36px;
        }
    }

    &__delete-confirmation-stage {
        &-1 {
            background-color: orangered;
            color: white;
            font-weight: 600;
        }

        &-2 {
            background-color: red;
            color: white;
            font-weight: 600;
        }
    }
}