@import '../../styles/utilities/manifest.module';
@import '../MovementJournal/MovementJournal.module.scss';

.edit-movement {
    @extend .movement-journal__form-inputs;
    @extend %vertical-start;
    width: 100%;

    label {
        width: 100%;
        margin: 0 0 16px 0;
        
        p {
            @extend %label;
        }

        input,
        select {
            position: relative;
            width: 100%;
            margin-top: 8px;
        }

        select {
            appearance: none;

            &:after {
                position: absolute;
                content: "";
                background: url('/img/menu.svg');
                background-size: contain;
                width: 24px;
                height: 24px;
                right: 0;
            }
        }
    }

    &__delete-confirmation-stage {
        &-1 {
            background-color: orangered;
            color: white;
            font-weight: 600;
        }

        &-2 {
            background-color: red;
            color: white;
            font-weight: 600;
        }
    }
}