@import '../../styles/utilities/utilities';
$overlay-width: 90vw;
$overlay-height: 90vh;

.overlay {
    @extend %vertical-start;
    position: fixed;
    width: $overlay-width;
    max-width: $site-max-width;
    left: calc((100vw - $overlay-width) / 2);
    box-shadow: $box-shadow;
    opacity: 0;
    transform: scale(.7);
    visibility: hidden;
    overflow-x: visible;

    padding: 24px;
    border-radius: 12px;
    background-color: transparentize(white, .92);
    backdrop-filter: $backdropFilter;
    transition: transform $easing,
        opacity $easing,
        visibility $easing;

    z-index: 1;

    &--fill {
        height: $overlay-height;
        top: calc((100vh - $overlay-height) / 2);
    }

    &--hug {
        max-height: $overlay-height;
        bottom: calc((100vh - $overlay-height) / 2);
    }
    
    @media screen and (min-width: 600px) {
        left: calc((100vw - $site-max-width) / 2)
    }

    &--visible {
        transform: scale(1);
        opacity: 1;
        visibility: visible;
    }

    &__scrim {
        position: fixed;
        width: 100vw;
        height: 100vh;

        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: 0 !important;
        
        opacity: 0;

        background-color: $scrim__background-color;
        backdrop-filter: $scrim__backdrop-filter;
        visibility: hidden;
        transition: opacity $easing,
            visibility $easing;

        &--visible {
            transform: scale(1);
            opacity: 1;
            visibility: visible;
        }
    }

    &__header {
        @extend %horizontal-center;
        width: 100%;
        padding-bottom: 24px;

        &-icon {
            width: 24px;
            height: 24px;
            margin-right: 8px;
        }

        &-title {
            flex: 1;
        }
    }

    &__contents {
        @extend %vertical-start;
        width: 100%;
        height: 50%;
        overflow-x: visible;
        flex: 1;
    }
}