$background--lightest: #FCFCFD;
$background--base: #eeeeee;
$stroke--subtle: #dcdcdc;
$text--primary: #2B3438;
$text--secondary: #5F5969;
$orange: #FC6746;
$purple: #5F46FC;
$gradient--primary: linear-gradient(180deg, rgba(95, 70, 252, 0.78) 0%, #5F46FC 100%);
$gradient--secondary: linear-gradient(180deg, rgba(252, 103, 70, 0.78) 0%, #FC6746 100%);
$gradient--green: linear-gradient(180deg, rgba(4, 236, 54, 0.35) 0%, #04EC36 100%);