@import '../../styles/utilities/manifest.module';

.header {
    width: 100%;
    padding: $padding;

    @media screen and (min-width: $breakpoint--tablet) {
        padding: $padding 0;
    }
    
    &__card {
        @extend %horizontal-center;
        @extend %elevation--tiny;
        width: 100%;
        padding: $padding 18px;
        background-color: $background--lightest;
        border-radius: $padding;

        div {
            @extend %vertical-end;
        }
    }

    h1 {
        @extend %h2;
        margin-left: 8px;
        font-weight: 600;
        flex: 1;
    }
    
    p {
        @extend %label;
        color: $text--secondary;
        margin-top: 6px;
    }
}