@import '../SetList/setList.module.scss';

.movement-card {
  @extend %vertical-start;
  @extend %elevation--tiny;
  border-radius: 16px;
  background-color: $background--lightest;
  margin-bottom: 16px;
  width: 100%;

  &__header {
    @extend %horizontal-center;
    @extend %divider-below;
    width: 100%;
    padding: 16px;
  }

  &__button-row {
    @extend %horizontal-center;
    justify-content: flex-end;
    flex: 1;
  }

  &__completed-indicator {
    position: absolute;
    margin-bottom: 65px;
  }

  &__attributes-container {
    width: 100%;
    padding: 16px 16px;
  }
}