@import '../../styles/utilities/manifest.module';

.button {
    @extend %horizontal-center;
    justify-content: center;
    transition: background-color $easing,
    color $easing;
    border-radius: 15px;
    padding: 8px 24px;
    width: 100%;
    min-height: 40px;

    &__container {
        border-radius: 16px;
        background-color: $background--lightest;
    }
    
    p {
        @extend %horizontal-center;
        @extend %body--strong;
        margin-left: 12px;

        &:first-child {
            margin: 0;
        }
    }
    
    &--primary {
        @extend .button;
        @extend %background--primary;
        @extend %elevation--high;
        color: $background--lightest;
    }

    &--secondary {
        @extend .button;
        @extend %background--secondary;
        @extend %elevation--high;
        color: $text--primary;
    }

    &--tertiary {
        @extend .button;
        @extend %background--tertiary;
        @extend %elevation--tiny;
        color: $text--primary;
    }

    &--complete {
        @extend .button;
        @extend %background--green;
        @extend %elevation--low;
        color: $text--primary;
    }
}