@import '../../styles/utilities/manifest.module';

.button {
    @extend %horizontal-center;
    justify-content: center;
    padding: 8px 12px;
    transition: background-color $easing,
    color $easing;
    border-radius: 15px;
    height: 40px;
    padding: 0 24px;
    
    p {
        margin-left: 12px;
        @extend %body--strong;

        &:first-child {
            margin: 0;
        }
    }
    
    &--primary {
        @extend .button;
        @extend %background--primary;
        @extend %elevation--high;
        color: $background--lightest;
    }

    &--secondary {
        @extend .button;
        @extend %background--secondary;
        @extend %elevation--high;
        color: $text--primary;
    }

    &--tertiary {
        @extend .button;
        @extend %background--tertiary;
        @extend %elevation--tiny;
        color: $text--primary;
    }

    &--complete {
        @extend .button;
        @extend %background--green;
        @extend %elevation--low;
        color: $text--primary;
    }
}