@import '../../styles/utilities/manifest.module';

.supersets {
  @extend %vertical-start;
  width: 100%;
  max-width: $site-max-width;
  margin-bottom: $header-height + (3 * $padding);

  @media screen and (min-width: $breakpoint--tablet) {
    padding: $padding 0;
    margin-bottom: $padding + 40px;
    .supersets__logo-header {
      display: none;
    }
  }

  &__logo-header {
    width: 100%;
  }
}

.super-set {
  @extend %vertical-start;
  width: 100%;
  padding: 0 $padding;
  margin-bottom: $padding;
  margin-top: 12px;

  &__header {
    @extend %horizontal-center;
    width: 100%;
    margin-bottom: 24px;

    h3 {
      margin-right: 12px;
    }
  }

  &__header-rule-line {
    height: 1px;
    background-color: transparentize(#000000, .2);
    flex: 1;
    margin-right: 12px;
  }

  &__movement-list {
    @extend %vertical-start;
    width: 100%;
  }

  &__complete-indicator {
    @extend %elevation--tiny;
    width: 24px;
    height: 24px;
    border-radius: 8px;
    margin-right: 4px;

    &--to-do {
      @extend .super-set__complete-indicator;
      @extend %background--tertiary;
    }

    &--complete {
      @extend .super-set__complete-indicator;
      @extend %background--primary;
    }
  }
}