@import '../../styles/utilities/manifest.module';

.supersets {
  @extend %vertical-start;
  width: 100%;
  margin-bottom: 90px;
}

.super-set {
  @extend %vertical-start;
  width: 100%;
  padding: 0 $padding;
  margin-bottom: $padding;
  margin-top: 12px;

  &__header {
    @extend %horizontal-center;
    width: 100%;
    margin-bottom: 24px;

    h2 {
      margin-right: 12px;
    }
  }

  &__header-rule-line {
    height: 1px;
    background-color: transparentize(#000000, .2);
    flex: 1;
    margin-right: 12px;
  }

  &__movement-list {
    @extend %vertical-start;
    width: 100%;
  }

  &__complete-indicator {
    @extend %elevation--tiny;
    width: 24px;
    height: 24px;
    border-radius: 8px;
    margin-right: 4px;

    &--to-do {
      @extend .super-set__complete-indicator;
      @extend %background--tertiary;
    }

    &--complete {
      @extend .super-set__complete-indicator;
      @extend %background--primary;
    }
  }
}