@import '../../styles/utilities/utilities';

$menu-height: 95vh;
$menu-width: 70vw;

.navigation {
    &__header-bar {
        @extend %horizontal-center;
        justify-content: space-between;
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        padding: 0 $padding;
        height: $header-height;
        background-color: white;
    
        box-shadow: rgba(0, 0, 0, 0.2) 0 2px 10px 1px;

        @media screen and (min-width: 600px) {
            padding: 0 calc((100vw - $site-max-width) / 2 + $padding);
        }

        &-section,
        h1 {
            flex: 1;
        }

        h1 {
            font-size: 22px;
            text-align: center;
            margin-right: 12px
        }

        div {
            @extend %horizontal-center;
            justify-content: flex-start;

            &:last-of-type {
                justify-content: flex-end;
            }
        }

        .icon-button {
            margin-right: $padding;
        }
    }

    &__menu {
        @extend %vertical-start;
        justify-content: flex-start;
        
        position: fixed;
        top: calc((100vh - $menu-height) / 2);
        left: 5vw;
        width: $menu-width;
        height: $menu-height;
        
        border-radius: 6px;
        padding: $padding;
        
        background-color: transparentize(white, .92);
        backdrop-filter: $backdropFilter;
        box-shadow: $box-shadow;
        
        transform: scale(.7) translateX(-180px);
        opacity: 0;
        visibility: hidden;
        transition: transform $easing,
            opacity $easing,
            visibility $easing;

        &--visible {
            visibility: visible;
            opacity: 1;
            transform: scale(1);
        }

        div {
            @extend %horizontal-center;
            button {
                margin-right: 16px;
            }
        }

        ul {
            width: 100%;
            padding-top: $padding;
        }

        &-item {
            @extend %horizontal-center;
            flex-wrap: wrap;
            width: 100%;
            margin-bottom: 24px;

            a {
                flex: 1;
                font-weight: 600;
                margin-bottom: 4px;
            }

            p {
                width: 100%;
                font-size: 12px;
            }
        }

        &-scrim {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            width: 100vw;
            background-color: $scrim__background-color;
            backdrop-filter: $scrim__backdrop-filter;
            opacity: 0;
            visibility: hidden;
            transition: transform $easing,
                opacity $easing,
                visibility $easing;

            &--visible {
                visibility: visible;
                opacity: 1;
            }
        }
    }

    &__completed-indicator {
        @extend %completed-indicator;
    }

    &__completed-button {
        @extend %completed-indicator;
        background-color: lightgray;
        color: black;
    }
}