@import '../../styles/utilities/manifest.module';
@import '../SetList/setList.module.scss';

.navigation {
    @extend %vertical-start;

    @media screen and (min-width: $breakpoint--tablet) {
        position: sticky;
        top: $padding;
        max-width: $navigation-max-width;
        margin-top: $padding;
        margin-right: $padding * 3;
        padding: $padding;
        // background-color: $background--lightest;
        background-color: darken($background--base, 3);
        border-radius: 16px;

        .navigation__logo-header {
            display: flex;
            width: calc(100% - (40px + ($padding * 2)));
            margin-bottom: $padding;

            header {
                padding-bottom: 0;
            }
        }
    }

    &__logo-header {
        @extend %vertical-start;
        display: none;
    }

    &__footer-bar {
        @extend %horizontal-center;
        @extend %elevation--high;
        position: fixed;
        left: 0;
        bottom: 0;
        right: 0;
        padding: 0 $padding;
        height: $header-height;
        background-color: $background--lightest;
        transition: box-shadow $easing;
        z-index: 1;

        @media screen and (min-width: $breakpoint--mobile) {
            padding: 0 $wide-viewport-padding;
        }

        @media screen and (min-width: $breakpoint--tablet) {
            display: none;
        }

        &--menu-visible {
            box-shadow: none;
        }
    }

    &__title {
        flex: 1;
        margin-left: 8px;

        h1 {
            @extend %h2;
        }

        &-last-indicator {
            @extend %label;
            color: $text--secondary;

            &--today {
                color: $purple;
            }
        }

        &-on-deck-indicator {
            @extend %label;
            color: $orange;
        }
    }

    &__progress-bar {
        @extend %horizontal-center;
        margin-right: 12px;
        // flex: 1;

        .super-set__complete-indicator {
            flex: 1;
        }
    }

    &__confirmation-bar {
        @extend %horizontal-center;
    }

    &__menu {
        position: fixed;
        bottom: -100vh;
        left: 0;
        right: 0;
        padding: 0 $padding;
        border-radius: 15px 15px 0 0;
        background-color: $background--lightest;
        opacity: 0;
        transition: bottom $easing,
            opacity $easing;

        z-index: 1000;

        @media screen and (min-width: $breakpoint--mobile) {
            right: $wide-viewport-padding;
            left: $wide-viewport-padding;
        }

        @media screen and (min-width: $breakpoint--tablet) {
            position: static;
            bottom: unset;
            left: unset;
            right: unset;
            width: 100%;
            padding: 0;
            margin-bottom: $padding * 2;
            background: none;
            opacity: 1;
        }
        
        &--visible {
            bottom: $header-height;
            opacity: 1;
            transition: bottom $easing;
        }

        &-item {
            @extend %divider-below;
            @extend %horizontal-center;
            width: 100%;
            padding: $padding 8px;

            &--active:after {
                position: absolute;
                content: '';
                width: 4px;
                height: 30px;
                margin-left: -8px;
                border-radius: 4px;
                background: $gradient--primary;
            }
            
            &-header {
                @extend %horizontal-end;
                flex: 1;
            }

            h4 {
                font-size: 18px;
                font-weight: 600;
                margin-right: 8px;
            }

            p {
                margin-bottom: 1px;
            }
        }

        &-scrim {
            position: fixed;
            top: 0;
            right: 0;
            bottom: $header-height;
            width: 100vw;
            background-color: $scrim__background-color;
            backdrop-filter: $scrim__backdrop-filter;
            opacity: 0;
            visibility: hidden;
            transition: transform $easing,
                opacity $easing,
                visibility $easing;

            &--visible {
                visibility: visible;
                opacity: 1;
            }
        }
    }

    &__calendar {
        display: none;

        h2 {
            margin-bottom: $padding;
        }

        @media screen and (min-width: $breakpoint--tablet) {
            display: block;
            margin: $padding 0;
        }
    }
}
