@import '../../styles/utilities/manifest.module';

.movement-journal {
  @extend %vertical-start;
  width: 100%;
  height: 100%;
  overflow-x: visible;

  &__entry {
    @extend %divider-below;
    @extend %horizontal-center;
    width: 100%;
    padding: 12px 0;
    margin-bottom: 4px;
  }

  &__badge-container {
    @extend %horizontal-center;
    flex: 1;
  }

  &__journal {
    width: 100%;
    flex: 1;
    overflow-y: scroll;
  }

  &__button-row {
    @extend %horizontal-center;
    flex-shrink: none;
    justify-content: center;
    width: 100%;
    padding: 16px 0;
    overflow: visible;
    display: none;

    &--visible {
        display: flex;
    }

    button {
      flex: 1;
      margin: 0;

      &:first-of-type {
        margin-right: 12px;
      }
    }
  }

  &__form {
      @extend %horizontal-start;
      flex-wrap: wrap;
      width: 100%;
      display: none;

      &--visible {
          display: flex;
      }

      &-header {
          flex: 1;
      }

      &-note-field {
        width: 100%;
      }

      &-inputs {
          @extend %horizontal-start;

          label {
              @extend %vertical-center;
              width: 45px;
              margin-left: 16px;
              font-size: 12px;
              font-weight: 700;

              input,
              select {
                  width: 100%;
                  height: 24px;
                  font-size: 16px;
                  font-weight: 600;
                  background-color: lightgray;
                  border-radius: 4px;
                  text-align: center;
              }

              p {
                width: 100%;
                font-size: 12px;
              }
          }

          &--note {
            @extend .movement-journal__form-inputs;
            width: 100%;
            
            label {
              @extend %vertical-start;
              width: 100%;
              margin: 0;
              text-align: left;

              input {
                height: 48px;
                padding: 8px;
                font-size: 14px;
                text-align: left;
              }
            }
          }
      }

      &-buttons {
          @extend %horizontal-center;
          width: 100%;
          margin-top: 12px;

          button {
              flex: 1;
              margin: 0;

              &:first-of-type {
                  margin-right: 12px;
              }
          }
      }
  }
}