@import '../../styles/utilities/utilities';
@import '../../styles/utilities/colors';
@import '../../styles/utilities/variables';

.icon-button {
    @extend %vertical-center;
    justify-content: center;
    padding: 8px;
    border-radius: 16px;
    
    &__container {
        border-radius: 16px;
        background-color: $background--lightest;
    }

    &--primary {
        @extend .icon-button;
        @extend %background--primary;
        @extend %elevation--high;
    }

    &--secondary {
        @extend .icon-button;
        @extend %background--secondary;
        @extend %elevation--high;
    }

    &--tertiary {
        @extend .icon-button;
        @extend %background--tertiary;
        @extend %elevation--tiny;
    }
}