@import './utilities/manifest.module';

main {
  @extend %vertical-center;
  width: 100%;

  @media screen and (min-width: $breakpoint--tablet) {
    flex-direction: row;
    align-items: flex-start;
  }
}

