@import './utilities/resets';
@import './utilities/manifest.module';

$inter: 'Inter', helvetica, sans-serif;

html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: $inter;
  color: black;

  #__next {
    @extend %vertical-center;
    width: 100%;
  }
}

body {
  background-color: $background--base;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

h1 {
  @extend %h1;
}

h2 {
  @extend %h2;
}

h3 {
  @extend %h3
}

h4 {
  font-size: 12px;
}

p {
  @extend %body;
}

main {
  @extend %vertical-center;
  width: 100%;
  max-width: $site-max-width;
}