
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap');
@import './utilities/manifest.module';
@import './utilities/resets';

$inter: 'Atkinson Hyperlegible', helvetica, sans-serif;

html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: $inter;
  color: black;

  #__next {
    @extend %vertical-center;
    width: 100%;
  }
}

body {
  background-color: $background--base;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

h1 {
  @extend %h1;
}

h2 {
  @extend %h2;
}

h3 {
  @extend %h3;
}

p {
  @extend %body;
}

@import './calendar';