@import './utilities/resets';
@import './utilities/manifest.module';
@import './utilities/manifest.module';

$inter: 'Inter', helvetica, sans-serif;

html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: $inter;
  color: black;

  #__next {
    @extend %vertical-center;
    width: 100%;
  }
}

body {
  background-color: $background--base;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

h1 {
  @extend %h1;
}

h2 {
  @extend %h2;
}

h3 {
  @extend %h3;
}

p {
  @extend %body;
}

main {
  @extend %vertical-center;
  width: 100%;
  max-width: $site-max-width;
}

@import '../node_modules/react-calendar/dist/Calendar.css';

.react-calendar {
  background: none !important;
  border: none !important;
  &__navigation__label__labelText {
    @extend %h3;
    color: $text--primary;

    abbr {
      text-decoration: none;
    }
  }

  &__month-view__weekdays__weekday,
  &__month-view__weekdays__weekday--current {
    @extend %label;
    color: $text--secondary;

    abbr {
      text-decoration: none;
    }
  }

  &__tile {
    @extend %vertical-center;
    height: 58px;
    
    &:disabled {
      background: none;
      margin-bottom: 12px;
    }

    abbr {
      @extend %body;
      color: $text--secondary;
    }

    &--now {
      @extend %elevation--tiny;
      background: $background--lightest !important;
      border-radius: 16px;
      z-index: 1;
      
      abbr {
        color: $text--primary !important;
        font-weight: 800 !important;
      }
    }
  }
}