@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap');
@import './utilities/manifest.module';

.container {
  @extend %vertical-center;
  width: 100%;

  @media screen and (min-width: $breakpoint--tablet) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }
}

