@import '../../styles/utilities/manifest.module';
@import '../Navigation/Navigation.module.scss';

.complete-button {
    position: fixed;
    bottom: $header-height + $padding;
    right: $padding;
    border-radius: 15px;

    @media screen and (min-width: $breakpoint--mobile) {
        right: calc($wide-viewport-padding - 40px - ($padding * 2));
    }

    @media screen and (min-width: $breakpoint--tablet) {
        bottom: unset;
        right: unset;
        top: $padding;
        right: calc(((100vw - $site-max-width) / 2) + $site-max-width + ($padding * 2));
    }

    &__confirm-mode {
        @extend %horizontal-center;
        gap: $padding;
    }
}