@import '../../styles/utilities/manifest.module';
@import '../Navigation/Navigation.module.scss';

.complete-button {
    position: fixed;
    bottom: $header-height + $padding;
    right: $padding;
    border-radius: 15px;

    @media screen and (min-width: $breakpoint--mobile) {
        right: calc($wide-viewport-padding - 40px - ($padding * 2));
    }

    @media screen and (min-width: $breakpoint--tablet) {
        bottom: unset;
        top: $padding;
        left: unset;
        right: calc(100vw - ($navigation-max-width - ($padding * 3)));
    }
    
    @media screen and (min-width: calc($site-max-width + $navigation-max-width)) {
        // left: calc((100vw - ($site-max-width + $navigation-max-width)) / 2 + ($navigation-max-width - ($padding * 4) - 48px));
        right: calc(100vw - (((100vw - ($site-max-width + $navigation-max-width)) / 2) + ($navigation-max-width - ($padding * 3))));
    }

    &__confirm-mode {
        @extend %horizontal-center;
        gap: $padding;
    }
}